@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/latoregular.woff2") format("woff2"),
    url("../fonts/latoregular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/latobold.woff2") format("woff2"),
    url("../fonts/latobold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #505050;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-content {
  max-width: 970px;
  margin: 0 auto;
}

.section-line {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.section-line--top {
  border-bottom: none;
  border-top: 1px solid rgba(208, 212, 216, 0.5);
}

.title {
  font-family: "Georgia", serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #4E5665;
  text-align: center;
}

.header__top {
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 40px;
}

.header__top-inner {
  border: 2px solid #ECB84C;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #FFFFFF;
}

.header__title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 200px;
  line-height: 227px;
  margin: auto;
  font-family: "Georgia", serif;
}

.header__text {
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  line-height: 27px;
  display: flex;
  white-space: nowrap; /* Тексту нельзя переноситься */
  align-items: center;
  margin-bottom: -13px;
}

.header__text::before,
.header__text::after {
  content: "";
  border-top: 2px solid #ECB84C;
  width: 100%;
}

.header__text::before {
  margin-right: 30px;
}

.header__text::after {
  margin-left: 30px;
}

.menu {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__link {
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #909090;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}

.menu__link:hover {
  color: #4E5665;
  border-bottom: 4px solid #ECB84C;
}

.reasons {
  padding: 80px 0 0 ;
}

.reasons__title {
  margin-bottom: 22px;
}

.reasons__link {
  text-align: right;
}

.reasons__link a {
  font-weight: bold;
  color: #ECB84C;
  margin-bottom: 36px;
}

.reasons__link a:hover {
  font-size: 20px;
}

.reasons__list {
  padding-bottom: 80px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.reasons__item-num {
  margin-top: 33px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #4E5665;
}

.reaons__item-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #909090;
}

.about {
  padding: 80px 0;
}

.about__title {
  margin-bottom: 13px;
}

.about__text {
  margin-bottom: 72px;
}

.about__item {
  margin-bottom: 100px;
  padding: 70px 0;
  background-repeat: no-repeat;
}

.about__item:last-of-type {
  margin-bottom: 120px;
}

.about__item:nth-of-type(2n-1) {
  background-image: url("../images/about-1-img.jpg");
  background-position: 100% center;
}

.about__item:nth-of-type(2n) {
  background-image: url("../images/about-2-img.jpg");
  background-position: 0% center;
  background-size: contain;
}

.about__box {
  max-width: 470px;
  padding-top: 33px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 18px;
  background-color: #FFFFFF;
  position: relative;
}

.about__item:nth-of-type(2n) .about__box {
  margin-left: auto;
}

.about__box::before,
.about__box::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
}

.about__box::before {
  border-top: 2px solid #ECB84C;
  border-left: 2px solid #ECB84C;
  top: 19px;
  left: 19px;
}

.about__box::after {
  border-bottom: 2px solid #ECB84C;
  border-right: 2px solid #ECB84C;
  bottom: 19px;
  right: 19px;
}

.about__item:nth-of-type(2n) .about__box::before {
  border-top: 2px solid #ECB84C;
  border-right: 2px solid #ECB84C;
  border-left: none;
  left: auto;
  right: 19px;
}

.about__item:nth-of-type(2n) .about__box::after {
  border-bottom: 2px solid #ECB84C;
  border-left: 2px solid #ECB84C;
  border-right: none;
  left: 19px;
  bottom: 13px;
}

.about__box-title {
  margin-bottom: 20px;
  font-family: "Georgia", serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  color: #4E5665;
}

.about__preview {
  padding: 0 15px;
}

.preview__title {
  margin-bottom: 38px;
}

.preview__image-box {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 53px;
  padding: 0 15px;
  padding-top: 73px;
  position: relative;
}

.preview__dot {
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  background-color: #FFD600;
  border-radius: 50%;
  border: 11px solid rgba(236, 184, 76, 0.75);
  background-clip: padding-box;
  cursor: pointer;
  position: absolute;
}

.preview__dot:hover {
  transform: scale(1.2);
}

.preview__dot:hover::before, 
.preview__dot:hover .preview__dot-text {
  display: block;
}

.preview__dot--engine {
  top: 190px;
  left: 158px;
}

.preview__dot--door {
  top: 188px;
  left: 505px;
}

.preview__dot--roof {
  top: 147px;
  right: 386px;
}

.preview__dot--wheel {
  bottom: 28px;
  right: 309px;
}

.preview__dot::before {
  display: none;
  content: "";
  background-image: url("../images/preview-roof-line.svg");
  width: 244px;
  height: 122px;
  position: absolute;
  cursor: default;
}

.preview__dot--engine::before {
  left: 9px;
  top: -124px;
}

.preview__dot--door::before {
  left: 9px;
  top: -124px;
}

.preview__dot--roof::before {
  left: -2px;
  top: -113px;
  height: 110px;
}

.preview__dot--wheel::before {
  transform: rotate(180deg) scale(-1, 1);
  width: 246px;
  height: 62px;
  left: -46px;
  top: 13px;
}

.preview__dot-text {
  display: none;
  white-space: nowrap;
  cursor: text;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  position: absolute;
}

.preview__dot-text--engine {
  left: 124px;
  top: -152px;
}

.preview__dot-text--door {
  left: 124px;
  top: -152px;
}

.preview__dot-text--roof {
  left: 112px;
  top: -140px;
}

.preview__dot-text--wheel {
  left: 89px;
  top: 46px;
}

.photo {
  padding-bottom: 80px;
}

.photo__title {
  padding-top: 80px;
  margin-bottom: 42px;
}

.photo__text {
  padding-bottom: 48px;
  margin-bottom: 56px;
  position: relative;
}

.photo__text::after {
  content: "";
  width: 270px;
  height: 1px;
  background-color: #D0D4D8;
  opacity: 0.5;
  bottom: 0;
  position: absolute;
  margin: 0 auto;
}

.photo__slider {
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
}

.photo__img {
  border-radius: 4px;
}

.slider-arrow {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #ECB84C;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.slider-arrow img {
  margin: auto;
}

.slider-prev {
  left: -20px;
}

.slider-next {
  right: -20px;
}

.footer {
  background-color: #F8F8F8;
  padding-top: 56px;
  padding-bottom: 32px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
}

.footer__item--first {
  width: 315px;
  padding-left: 180px;
}

.footer__item--second {
  width: 132px;
}

.footer__item--third {
  width: 139px;
}

.footer__item--fourth {
  width: 304px;
}

.footer__item-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  color: #4E5665;
}

.footer__item-list {
  list-style: none;
  font-size: 14px;
  line-height: 19px;
}

.footer__item-list li {
  margin-bottom: 8px;
}

.footer__item-list li:last-of-type {
  margin-bottom: 0;
}

.footer__item-link--contacts {
  padding-left: 28px;
}

.footer__item-link {
  position: relative;
}

.footer__item-link:hover {
  color: rgba(80, 80, 80, 0.5);
}

.footer__item-link--contacts::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-repeat: no-repeat;
}

.footer__item-link--contacts:hover::before {
  transform: translateY(-50%) scale(1.1);
}

.footer__item-link--mail:hover::before {
  transform: scale(1.1);
}

.footer__item-link--write::before {
  background-image: url(../images/contacts-1.svg);
  width: 17px;
}

.footer__item-link--fb::before {
  background-image: url(../images/contacts-2.svg);
}

.footer__item-link--ig::before {
  background-image: url(../images/contacts-3.svg);
}

.footer__item-link--yt::before {
  background-image: url(../images/contacts-4.svg);
}

.footer__item-link--mail::before {
  background-image: url(../images/contacts-5.svg);
  top: auto;
  transform: none;
  bottom: 0;
}

.footer__copy {
  padding-top: 40px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
