@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/latoregular.woff2") format("woff2"),
    url("../fonts/latoregular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/latobold.woff2") format("woff2"),
    url("../fonts/latobold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #505050;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-content {
  max-width: 970px;
  margin: 0 auto;
}

.section-line {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.section-line--top {
  border-bottom: none;
  border-top: 1px solid rgba(208, 212, 216, 0.5);
}

.title {
  font-family: "Georgia", serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #4E5665;
  text-align: center;
}

.header__top {
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 40px;
}

.header__top-inner {
  border: 2px solid #ECB84C;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #FFFFFF;
}

.header__title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 200px;
  line-height: 227px;
  margin: auto;
  font-family: "Georgia", serif;
}

.header__text {
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  line-height: 27px;
  display: flex;
  white-space: nowrap; /* Тексту нельзя переноситься */
  align-items: center;
  margin-bottom: -13px;
}

.header__text--mob {
  display: none;
}

.header__text::before,
.header__text::after {
  content: "";
  border-top: 2px solid #ECB84C;
  width: 100%;
}

.header__text::before {
  margin-right: 30px;
}

.header__text::after {
  margin-left: 30px;
}

.menu {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__link {
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #909090;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}

.menu__link:hover {
  color: #4E5665;
  border-bottom: 4px solid #ECB84C;
}

.reasons {
  padding: 80px 0 0 ;
}

.reasons__title {
  margin-bottom: 22px;
}

.reasons__link {
  text-align: right;
}

.reasons__link a {
  font-weight: bold;
  color: #ECB84C;
  margin-bottom: 36px;
}

.reasons__link a:hover {
  font-size: 20px;
}

.reasons__list {
  padding-bottom: 80px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.reasons__item-num {
  margin-top: 33px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #4E5665;
}

.reaons__item-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #909090;
}

.about {
  padding: 80px 0;
}

.about__title {
  margin-bottom: 13px;
}

.about__text {
  margin-bottom: 72px;
}

.about__item {
  margin-bottom: 100px;
  padding: 70px 0;
  background-repeat: no-repeat;
}

.about__item:last-of-type {
  margin-bottom: 120px;
}

.about__item:nth-of-type(2n-1) {
  background-image: url("../images/about-1-img.jpg");
  background-position: 100% center;
}

.about__item:nth-of-type(2n) {
  background-image: url("../images/about-2-img.jpg");
  background-position: 0% center;
  background-size: contain;
}

.about__box {
  max-width: 470px;
  padding-top: 33px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 18px;
  background-color: #FFFFFF;
  position: relative;
}

.about__item:nth-of-type(2n) .about__box {
  margin-left: auto;
}

.about__box::before,
.about__box::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
}

.about__box::before {
  border-top: 2px solid #ECB84C;
  border-left: 2px solid #ECB84C;
  top: 19px;
  left: 19px;
}

.about__box::after {
  border-bottom: 2px solid #ECB84C;
  border-right: 2px solid #ECB84C;
  bottom: 19px;
  right: 19px;
}

.about__item:nth-of-type(2n) .about__box::before {
  border-top: 2px solid #ECB84C;
  border-right: 2px solid #ECB84C;
  border-left: none;
  left: auto;
  right: 19px;
}

.about__item:nth-of-type(2n) .about__box::after {
  border-bottom: 2px solid #ECB84C;
  border-left: 2px solid #ECB84C;
  border-right: none;
  left: 19px;
  bottom: 13px;
}

.about__box-title {
  margin-bottom: 20px;
  font-family: "Georgia", serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  color: #4E5665;
}

.about__preview {
  padding: 0 15px;
}

.preview__title {
  margin-bottom: 38px;
}

.preview__image-box {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 53px;
  padding: 0 15px;
  padding-top: 73px;
  position: relative;
}

.preview__image-box img {
  max-width: 100%;
}

.preview__dot {
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  background-color: #FFD600;
  border-radius: 50%;
  border: 11px solid rgba(236, 184, 76, 0.75);
  background-clip: padding-box;
  cursor: pointer;
  position: absolute;
}

.preview__dot:hover {
  transform: scale(1.2);
}

.preview__dot:hover::before, 
.preview__dot:hover .preview__dot-text {
  display: block;
}

.preview__dot--engine {
  top: 46%;
  left: 14%;
}

.preview__dot--door {
  top: 45%;
  left: 42%;
}

.preview__dot--roof {
  top: 34%;
  right: 32%;
}

.preview__dot--wheel {
  bottom: 6%;
  right: 26%;
}

.preview__dot::before {
  display: none;
  content: "";
  background-image: url("../images/preview-roof-line.svg");
  width: 244px;
  height: 122px;
  position: absolute;
  cursor: default;
}

.preview__dot--engine::before {
  left: 9px;
  top: -124px;
}

.preview__dot--door::before {
  left: 9px;
  top: -124px;
}

.preview__dot--roof::before {
  left: -2px;
  top: -113px;
  height: 110px;
}

.preview__dot--wheel::before {
  transform: rotate(180deg) scale(-1, 1);
  width: 246px;
  height: 62px;
  left: -46px;
  top: 13px;
}

.preview__dot-text {
  display: none;
  white-space: nowrap;
  cursor: text;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  position: absolute;
}

.preview__dot-text--engine {
  left: 124px;
  top: -152px;
}

.preview__dot-text--door {
  left: 124px;
  top: -152px;
}

.preview__dot-text--roof {
  left: 112px;
  top: -140px;
}

.preview__dot-text--wheel {
  left: 89px;
  top: 46px;
}

.preview__dot-image {
  display: none;
}

.photo {
  padding-bottom: 80px;
}

.photo__title {
  padding-top: 80px;
  margin-bottom: 42px;
}

.photo__text {
  padding-bottom: 48px;
  margin-bottom: 56px;
  position: relative;
}

.photo__text::after {
  content: "";
  width: 270px;
  height: 1px;
  background-color: #D0D4D8;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.photo__slider {
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
}

.photo__img {
  border-radius: 4px;
}

.slider-arrow {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #ECB84C;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.slider-arrow img {
  margin: auto;
}

.slider-prev {
  left: -20px;
}

.slider-next {
  right: -20px;
}

.footer {
  background-color: #F8F8F8;
  padding-top: 56px;
  padding-bottom: 32px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
}

.footer__item--first {
  width: 315px;
  padding-left: 180px;
}

.footer__item--second {
  width: 132px;
}

.footer__item--third {
  width: 139px;
}

.footer__item--fourth {
  width: 304px;
}

.footer__item-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  color: #4E5665;
}

.footer__item-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  color: #4E5665;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: bold;
  pointer-events: none;
}

.footer__item-list {
  list-style: none;
  font-size: 14px;
  line-height: 19px;
}

.footer__item-list li {
  margin-bottom: 8px;
}

.footer__item-list li:last-of-type {
  margin-bottom: 0;
}

.footer__item-link--contacts {
  padding-left: 28px;
}

.footer__item-link {
  position: relative;
}

.footer__item-link:hover {
  color: rgba(80, 80, 80, 0.5);
}

.footer__item-link--contacts::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-repeat: no-repeat;
}

.footer__item-link--contacts:hover::before {
  transform: translateY(-50%) scale(1.1);
}

.footer__item-link--mail:hover::before {
  transform: scale(1.1);
}

.footer__item-link--write::before {
  background-image: url(../images/contacts-1.svg);
  width: 17px;
}

.footer__item-link--fb::before {
  background-image: url(../images/contacts-2.svg);
}

.footer__item-link--ig::before {
  background-image: url(../images/contacts-3.svg);
}

.footer__item-link--yt::before {
  background-image: url(../images/contacts-4.svg);
}

.footer__item-link--mail::before {
  background-image: url(../images/contacts-5.svg);
  top: auto;
  transform: none;
  bottom: 0;
}

.footer__copy {
  padding-top: 40px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}


/* Media запросы */

@media (max-width: 1050px) {
  .footer__item {
    width: 25%;
  }
  
  .footer__item--first {
    padding-left: 10px;
  }
}

@media (max-width: 900px) {
  .about {
    padding: 60px 0;
  }

  .about__item {
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 430px;
    padding-bottom: 20px;
    max-width: 570px;
  }

  .about__item:nth-of-type(2n-1) {
    background-position: center top;
  }

  .about__item:nth-of-type(2n) {
    background-position: center top;
    background-size: auto;
  }

  .about__item:last-of-type {
    margin-bottom: 20px;
  }

  .about__box {
    max-width: none;
  }

  .about__item:nth-of-type(2n) .about__box::after {
    bottom: 7px;
  }

  .preview__image-box {
    padding-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .preview__dot {
    box-sizing: border-box;
    margin-bottom: 30px;
    width: 50%;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    border: none;
    cursor: default;
    position: static;
  }

  .preview__dot-text {
    display: block;
    cursor: text;
    position: static;
  }

  .preview__dot::before,
  .preview__dot:hover::before {
    display: none;
  }

  .preview__dot:hover {
    transform: none;
  }

  .preview__dot-text .preview__dot-image {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    max-width: 140px;
    cursor: default;
    border: 1px solid #237F75;
    border-radius: 50%;
  }

  .preview__image-car {
    display: none;
  }

  .photo__title {
    padding-top: 60px;
    margin-bottom: 42px;
  }
}

@media (max-width: 700px) {
  .header__title {
    font-size: 120px;
    line-height: 150px;
  }

  .header__text {
    font-size: 20px;
  }

  .menu__list {
    display: none;
    transform: translateY(-100%);
  }

  .menu__list--active {
    display: block;
    margin-top: 50px;
    text-align: center;
    transform: translateY(0);
  }

  .menu__list--active .menu__link {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border-bottom: 2px solid #ECB84C;
    font-size: 16px;
    line-height: 20px;
    background-color: rgba(236, 184, 76, 0.1);
  }

  .menu__btn {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 100vh;
    right: 0;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(#ECB84C 0%, #876722 100%);

    color: white;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  }

  .menu__btn:hover {
    font-size: 24px;
  }
  
  .menu__btn--pressed, .menu__btn:active {
    background-image: linear-gradient(to top, #ECB84C 0%, #876722 100%);
    border: 2px solid #c4983d;
    font-size: 24px;
  }

  .reasons__list {
    padding-bottom: 60px;
  }

  .about {
    padding: 60px 0;
  }

  .about__text {
    margin-bottom: 50px;
  }

  .preview__image-box {
    margin-bottom: 10px;
    padding-left: 28%;
  }

  .preview__dot-text {
    width: 100%;
  }

  .preview__dot {
    width: 100%;
  }

  .slider-prev {
    left: 15px;
  }

  .slider-next {
    right: 15px;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__item-list {
    display: none;
  }

  .footer__items {
    display: block;
  }

  .footer__item {
    margin: 0 auto;
  }

  .footer__item--first {
    padding-left: 0;
  }

  .footer__copy {
    padding-top: 10px;
  }

  .footer__item-btn {
    pointer-events: auto;
    cursor: pointer;
    outline: none;
  }

  .footer__item-btn:hover {
    color: rgba(80, 80, 80, 0.5);
  }

  .footer__item-list--active {
    display: block;
    margin-bottom: 20px;
  }

  .footer__item-btn:active,
  .footer__item-btn--pressed {
    color: rgba(80, 80, 80, 0.5);
    transform: scale(1.1);
  }
}

@media (max-width: 540px) {
  body {
    line-height: 24px;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
  }

  .header__top {
    padding: 20px;
  }

  .header__title {
    font-size: 82px;
    line-height: 100px;
  }

  .header__text--desk {
    display: none;
  }

  .header__text--mob {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: -10px;
  }

  .reasons__list {
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: center;
  }

  .reasons__item {
    width: 45%;
    margin-bottom: 40px;
  }

  .reasons__item-num {
    margin-top: 10px;
  }
  
  .about__box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .about__box::before {
    top: 23px;
    left: 10px;
  }

  .about__box::after {
    bottom: 11px;
    right: 14px;
  }

  .about__item:nth-of-type(2n) .about__box::before {
    right: 15px;
  }

  .about__item:nth-of-type(2n) .about__box::after {
    left: 10px;
  }

  .preview__image-box {
    padding-left: 0;
  }

  .slider-arrow {
    top: 108%;
  }

  .slider-prev {
    left: 25%;
  }

  .slider-next {
    right: 25%;
  }

  .photo__text {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}